@model MoustacheApp.Models.AppUser

@{
    ViewData["Title"] = "User Details";
}

<h3>@ViewData["Title"]</h3>
<hr />
<div>
    <dl class="canister">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Anonymous)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Anonymous)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AltName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AltName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmailConfirmed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmailConfirmed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccessFailedCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccessFailedCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LockoutEnabled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LockoutEnabled)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LockoutEnd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LockoutEnd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Disabled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Disabled)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DisableDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DisableDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisabledBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisabledBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
